<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czl.mapper.common.ComDataMapper">
	<!-- 单表数据查询 -->
	<select id="getTableData" parameterType="java.util.Map"
		resultType="java.util.HashMap">
		SELECT rownum, t.*
		FROM ${tableName} t
		WHERE 1=1
		<if test="params != null">
			<foreach collection="params.keys" item="k" index="index"
				open="" separator="" close="">
				<if test="params[k] != null">
					and ${k} = '${params[k]}'
				</if>
			</foreach>
		</if>
		<if test="limit != null">
			<![CDATA[and rownum >=#{limit.row_start} and rownum <=#{limit.row_end}]]>
		</if>
		<if test="orderby != null">
			ORDER BY ${orderby}
		</if>
	</select>

	<!-- 单表数据计数 -->
	<select id="getCount" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		SELECT count(*)
		FROM ${tableName}
		WHERE 1=1
		<if test="params != null">
			<foreach collection="params.keys" item="k" index="index"
				open="" separator="" close="">
				<if test="params[k] != null">
					and ${k} = '${params[k]}'
				</if>
			</foreach>
		</if>
	</select>

	<!-- 单表数据单条插入 -->
	<insert id="insertData" parameterType="java.util.Map">
		insert into ${tableName}
		<foreach collection="params.keys" item="k" index="index"
			open="(" separator="," close=")">
			<if test="params[k] != null">
				${k}
			</if>
		</foreach>
		values
		<foreach collection="params.keys" item="k" index="index"
			open="(" separator="," close=")">
			<if test="params[k] != null">
				'${params[k]}'
			</if>
		</foreach>
	</insert>

	<update id="updateData" parameterType="java.util.Map">
		update ${tableName} set
		<foreach collection="params.keys" item="k" index="index"
			open="" separator="," close="">
			<if test="params[k] != null">
				${k} = '${params[k]}'
			</if>
		</foreach>
		where 1=1
		<foreach collection="conditions.keys" item="k" index="index"
			open="" separator="" close="">
			<if test="conditions[k] != null">
				and ${k} = '${conditions[k]}'
			</if>
		</foreach>
	</update>

	<delete id="deleteData" parameterType="java.util.Map">
		delete from ${tableName}
		where 1=1
		<foreach collection="params.keys" item="k" index="index"
			open="" separator="" close="">
			<if test="params[k] != null">
				and ${k} = '${params[k]}'
			</if>
		</foreach>
	</delete>

</mapper>